.body {
    color: black;
    display: block;
    font-family: "Verdana", "sans-serif";
    font-size: 1em;
    line-height: 1.4;
    margin: 1em 0
    }
.body1 {
    color: black;
    display: block;
    font-family: "Verdana", "sans-serif";
    font-size: 1em;
    line-height: 1.4;
    text-align: center;
    margin: 1em 0
    }
.bodye {
    color: black;
    display: block;
    font-family: "Verdana", "sans-serif";
    font-size: 0.625em;
    line-height: 1.3;
    margin: 0 30px 0 0
    }
.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.3;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    height: auto;
    line-height: 1.3;
    width: auto
    }
.calibre2 {
    height: auto;
    line-height: 1.3;
    width: 40px
    }
.calibre3 {
    display: table-column-group
    }
.calibre4 {
    display: table-column
    }
.calibre5 {
    display: table-row;
    vertical-align: middle
    }
.calibre6 {
    display: table-cell;
    text-align: inherit;
    vertical-align: inherit;
    padding: 1px
    }
.calibre7 {
    height: auto;
    width: 50px
    }
.calibre8 {
    display: block;
    line-height: 1.3;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre9 {
    display: block;
    line-height: 1.3;
    list-style-type: circle;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre10 {
    line-height: 1.3
    }
.calibre11 {
    color: rgb(0, 0, 0);
    font-family: Arial;
    font-size: 1em;
    line-height: 1.3
    }
.calibre12 {
    display: block;
    line-height: 1.3;
    list-style-type: decimal;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre13 {
    color: rgb(0, 0, 0);
    font-family: Arial;
    font-size: 0.77419em;
    line-height: 22px
    }
.calibre14 {
    height: auto;
    width: auto
    }
.calibre15 {
    display: block
    }
.calibre16 {
    font-family: Arial;
    font-size: 1em;
    line-height: 1.3
    }
.calibre17 {
    font-size: 1.29167em;
    line-height: 1.3
    }
.calibre18 {
    font-size: 0.77419em;
    line-height: 23px
    }
.calibre19 {
    font-weight: bold
    }
.calibre20 {
    font-style: italic
    }
.calibre21 {
    font-family: Arial;
    font-size: 1.2em;
    line-height: 22px
    }
.calibre22 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre23 {
    font-weight: bold;
    line-height: 1.3
    }
.calibre24 {
    font-family: Verdana, sans-serif;
    font-size: 0.77419em;
    font-style: normal;
    font-weight: normal;
    line-height: 22px
    }
.calibre25 {
    float: right;
    height: auto;
    width: auto
    }
.calibre26 {
    color: rgb(0, 0, 0);
    font-family: Verdana, sans-serif, sans-serif;
    font-size: 0.77419em;
    line-height: 1.3
    }
.calibre27 {
    display: block;
    list-style-type: decimal;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre28 {
    display: block;
    line-height: 1.3;
    margin: 1em 0
    }
.calibre29 {
    display: block;
    line-height: 1.3
    }
.calibre30 {
    color: gray;
    display: block;
    height: 2px;
    line-height: 1.3;
    border: currentColor inset 1px;
    margin: 0.5em auto
    }
.calibre31 {
    display: block
    }
.calibre32 {
    font-style: italic;
    line-height: 1.3
    }
.co-summary-bullet {
    color: #005;
    display: list-item;
    font-family: "Franklin Gothic Medium", "sans-serif";
    font-size: 1em;
    line-height: 1.3;
    page-break-inside: avoid
    }
.co-summary-head {
    color: #005;
    display: block;
    font-family: "Franklin Gothic Medium", "sans-serif";
    font-size: 1.29167em;
    font-weight: Bold;
    line-height: 1.3;
    page-break-after: avoid;
    margin: 1.8em 0 0.6em
    }
.contenttable {
    border-collapse: collapse;
    border-spacing: 2px;
    display: table;
    line-height: 1.4;
    margin-bottom: 5px;
    margin-top: 0;
    page-break-inside: avoid;
    text-indent: 0;
    width: 100%
    }
.copyright {
    display: block;
    font-family: "Verdana", "sans-serif", "serif";
    font-size: 1em;
    font-weight: bold;
    line-height: 1.3;
    text-align: center;
    margin: 0.67em 0
    }
.copyrighta {
    color: black;
    display: block;
    font-family: "Garamond", "serif";
    font-size: 1.83333em;
    font-weight: bold;
    line-height: 1.3;
    text-align: center;
    margin: 0
    }
.copyrightb {
    color: gray;
    display: block;
    font-family: "Garamond", "serif";
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
    text-transform: uppercase;
    margin: 0
    }
.copyrightbody {
    color: black;
    display: block;
    font-family: "AGaramond", "serif";
    font-size: 1.29167em;
    line-height: 1.3;
    text-align: center;
    margin: 0
    }
.copyrightbody1 {
    color: black;
    display: block;
    font-family: "Garamond", "serif";
    font-size: 0.75em;
    line-height: 1.4;
    text-align: center;
    margin: 0
    }
.copyrightc {
    color: black;
    display: block;
    font-family: "Verdana", "sans-serif", serif;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.3;
    text-align: center;
    text-transform: uppercase;
    margin: 0
    }
.copyrightfigures {
    color: black;
    display: block;
    font-family: "Verdana", "sans-serif", "serif";
    font-size: 1em;
    line-height: 1.3;
    text-align: center;
    margin: 0
    }
.copyrightfigures1 {
    color: black;
    display: block;
    font-family: "Verdana", "sans-serif", "serif";
    font-size: 1em;
    text-align: right;
    margin: 0
    }
.fm-bold {
    font-weight: Bold;
    line-height: 1.3
    }
.fm-bold1 {
    font-weight: Bold
    }
.fm-callout {
    color: black;
    display: block;
    font-family: "Franklin Gothic Medium", "sans-serif";
    font-size: 0.83333em;
    line-height: 1.4;
    margin: 0.8em 0 0.8em 3em
    }
.fm-callout-head {
    color: #005;
    font-family: "Franklin Gothic Medium", "sans-serif";
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.3;
    text-transform: uppercase
    }
.fm-char-times-italic {
    font-family: "Times New Roman", "serif";
    font-style: italic;
    line-height: 1.3
    }
.fm-char-times-italic1 {
    font-family: "Times New Roman", "serif";
    font-style: italic
    }
.fm-code-annotation {
    display: block;
    font-family: "Franklin Gothic Medium", "sans-serif";
    font-size: 0.83333em;
    line-height: 1.4;
    text-indent: -1.4em;
    margin: 0.3em 0 0 1.4em
    }
.fm-code-in-text {
    font-family: monospace;
    font-size: 1.29167em;
    line-height: 1.3
    }
.fm-code-in-text1 {
    font-family: monospace;
    font-size: 1.2em;
    line-height: 1.3
    }
.fm-code-in-text2 {
    font-family: monospace;
    font-size: 1em;
    line-height: 1.3
    }
.fm-code-listing-caption {
    background-color: #005;
    color: #EAEAEA;
    display: block;
    font-family: "Franklin Gothic Medium", "sans-serif";
    font-size: 1em;
    font-weight: bold;
    line-height: 1.4;
    margin: 1em 0 0.6em
    }
.fm-codebrown {
    color: #833c0a
    }
.fm-codedarkred {
    color: #a21414
    }
.fm-codegreen {
    color: #090;
    font-family: monospace;
    font-weight: normal
    }
.fm-codelightblue {
    color: #1189ff
    }
.fm-codered {
    color: #ff7f00
    }
.fm-combinumeral {
    color: #005;
    font-family: "Cambria Math", "serif";
    font-size: 1em
    }
.fm-contenttable {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    line-height: 1.3;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0;
    width: 100%;
    border: currentColor none 0
    }
.fm-contenttable1 {
    background-color: #CCC;
    display: table-cell;
    font-size: 1em;
    font-weight: bold;
    vertical-align: top;
    border: black solid 2px;
    padding: 2px 5px;
    margin: 0
    }
.fm-contenttable2 {
    display: table-cell;
    font-size: 1em;
    text-align: left;
    vertical-align: top;
    border: black solid 2px;
    padding: 2px 5px;
    margin: 0
    }
.fm-contenttable3 {
    background-color: #CCC;
    display: table-cell;
    font-size: 1em;
    font-weight: bold;
    text-align: inherit;
    vertical-align: top;
    border: black solid 2px;
    padding: 2px 5px;
    margin: 0
    }
.fm-contenttables {
    background-color: #f6f6f6;
    display: table-cell;
    font-size: 1em;
    text-align: inherit;
    vertical-align: top;
    padding: 2px 5px;
    margin: 0
    }
.fm-equation {
    color: black;
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    line-height: 1.4;
    margin: 1em 0
    }
.fm-exercise-head {
    color: #005;
    font-family: "Franklin Gothic Medium", "sans-serif";
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.3
    }
.fm-exercise-head1 {
    color: #005;
    font-family: "Franklin Gothic Medium", "sans-serif";
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.3
    }
.fm-exercise-list-num {
    display: list-item;
    font-family: "Franklin Gothic Medium", "sans-serif";
    font-size: 0.83333em;
    margin-bottom: 0.5em
    }
.fm-exercise-text {
    color: black;
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 0.83333em;
    line-height: 1.4;
    margin: 1em 0
    }
.fm-figure {
    color: #00B050;
    display: block;
    font-family: "Verdana", "sans-serif", "serif";
    font-size: 1.29167em;
    line-height: 1.4;
    page-break-after: avoid;
    margin: 1.2em 0 0.8em
    }
.fm-figure-caption {
    color: #005;
    display: block;
    font-family: "Franklin Gothic Medium", "sans-serif";
    font-size: 1em;
    font-weight: bold;
    line-height: 1.4;
    margin: 1em 0
    }
.fm-footnote {
    color: #17365D;
    display: block;
    font-family: "Franklin Gothic Demi Cond", "sans-serif";
    font-size: 0.75em;
    text-indent: -0.85em;
    margin: 0 0 0 0.85em
    }
.fm-head {
    color: #141464;
    display: block;
    font-family: "Franklin Gothic Medium", "sans-serif";
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.3;
    page-break-after: avoid;
    text-indent: -3em;
    margin: 1.2em 0 0.2em 3em
    }
.fm-head-1toc {
    color: #141464;
    display: block;
    font-family: "Franklin Gothic Medium", "sans-serif";
    font-size: 1em;
    line-height: 1.4;
    page-break-after: avoid;
    text-indent: -2em;
    margin: 0.3em 0 0 5em
    }
.fm-head-2toc {
    color: #141464;
    display: block;
    font-family: "Franklin Gothic Medium", "sans-serif";
    font-size: 0.83333em;
    line-height: 1.4;
    page-break-after: avoid;
    text-indent: -3em;
    margin: 0.3em 0 0 9em
    }
.fm-head1 {
    color: #141464;
    display: block;
    font-family: "Franklin Gothic Medium", "sans-serif";
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.4;
    page-break-after: avoid;
    text-indent: -3em;
    margin: 1em 0 0.2em 3em
    }
.fm-head2 {
    color: #141464;
    display: block;
    font-family: "Franklin Gothic Medium", "sans-serif";
    font-size: 1.29167em;
    font-style: italic;
    font-weight: bold;
    line-height: 1.3;
    page-break-after: avoid;
    text-transform: uppercase;
    margin: 1em 0 0.2em
    }
.fm-hyperlink {
    color: #001ca5
    }
.fm-in-cambria {
    font-family: "Cambria Math", "serif"
    }
.fm-in-cambria1 {
    font-family: "Cambria Math", "serif";
    line-height: 1.3
    }
.fm-in-cambria2 {
    font-family: "Cambria Math", "serif";
    font-style: italic
    }
.fm-in-superscript-italic {
    color: #005;
    font-family: "Times New Roman", "serif";
    font-size: 0.75em;
    font-style: italic;
    line-height: 1.3;
    vertical-align: super
    }
.fm-in-times {
    font-family: "Times New Roman", "serif";
    font-size: 1.29167em;
    line-height: 1.3
    }
.fm-in-times-italic {
    font-family: "Times New Roman", "serif";
    font-size: 1.29167em;
    font-style: italic;
    line-height: 1.3
    }
.fm-in-times-italic1 {
    font-family: "Times New Roman", "serif";
    font-size: 1.2em;
    font-style: italic;
    line-height: 1.3
    }
.fm-in-times-italic2 {
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    font-style: italic;
    line-height: 1.3
    }
.fm-in-times-italic3 {
    font-family: "Times New Roman", "serif";
    font-size: 1.2em;
    font-style: italic
    }
.fm-in-times1 {
    font-family: "Times New Roman", "serif";
    font-size: 1.2em;
    line-height: 1.3
    }
.fm-in-times2 {
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    line-height: 1.3
    }
.fm-in-times3 {
    font-family: "Times New Roman", "serif";
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.3
    }
.fm-in-times4 {
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    font-weight: bold;
    line-height: 1.3
    }
.fm-italics {
    font-style: Italic;
    text-transform: none
    }
.fm-italics1 {
    font-style: Italic;
    line-height: 1.3;
    text-transform: none
    }
.fm-list-bullet {
    display: list-item;
    font-family: "Verdana", "sans-serif";
    font-size: 1em;
    line-height: 1.3;
    margin-top: 0.5em;
    page-break-inside: avoid
    }
.fm-list-bullet-last {
    display: list-item;
    font-family: "Verdana", "sans-serif", "sans-serif";
    font-size: 1em;
    line-height: 1.3;
    margin-bottom: 0.5em;
    page-break-inside: avoid
    }
.fm-list-bullet1 {
    display: list-item;
    font-family: "Verdana", "sans-serif", "sans-serif";
    font-size: 1em;
    line-height: 1.3;
    page-break-inside: avoid
    }
.fm-list-bullet2 {
    display: list-item;
    line-height: 1.3
    }
.fm-list-numbered {
    display: list-item;
    font-family: "Verdana", "sans-serif", "sans-serif";
    font-size: 1em;
    line-height: 1.3;
    margin-top: 0.5em;
    page-break-inside: avoid
    }
.fm-list-numbered-last {
    display: list-item;
    font-family: "Verdana", "sans-serif", "sans-serif";
    font-size: 1em;
    margin-bottom: 0.5em;
    page-break-inside: avoid
    }
.fm-list-numbered1 {
    display: list-item;
    font-family: "Verdana", "sans-serif", "sans-serif";
    font-size: 1em;
    page-break-inside: avoid
    }
.fm-list-numbered2 {
    display: list-item;
    font-family: "Verdana", "sans-serif", "sans-serif";
    font-size: 1em;
    margin-top: 0.5em;
    page-break-inside: avoid
    }
.fm-part-initial-cap {
    color: #476b84;
    font-family: "Verdana", "sans-serif";
    font-size: 2em;
    font-weight: normal;
    line-height: 1.3
    }
.fm-quote {
    display: block;
    font-family: "Franklin Gothic Medium", "sans-serif";
    font-size: 1em;
    font-style: Italic;
    font-weight: normal;
    line-height: 1.3;
    margin: 0.6em 0 1.2em 2.8em
    }
.fm-sidebar {
    display: block;
    font-family: "Franklin Gothic Medium", "sans-serif";
    font-size: 0.83333em;
    line-height: 1.4;
    margin: 0
    }
.fm-sidebar-title {
    color: #005;
    display: block;
    font-family: Futura, sans-serif;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.3;
    text-align: left;
    vertical-align: top;
    z-index: 1;
    border: currentColor none 0;
    padding: 15px 1px -10px;
    margin: 1em 0
    }
.fm-subscript {
    font-family: "Times New Roman", "serif";
    font-size: 0.625em;
    line-height: 1.3;
    vertical-align: sub
    }
.fm-subscript1 {
    font-family: "Times New Roman", "serif";
    font-size: 0.48387em;
    line-height: 1.3;
    vertical-align: sub
    }
.fm-subscript2 {
    font-family: "Times New Roman", "serif";
    font-size: 0.75em;
    line-height: 1.3;
    vertical-align: sub
    }
.fm-superscript {
    font-family: "Times New Roman", "serif";
    font-size: 0.625em;
    line-height: 1.3;
    vertical-align: super
    }
.fm-superscript1 {
    font-family: "Times New Roman", "serif";
    font-size: 0.75em;
    line-height: 1.3;
    vertical-align: super
    }
.fm-superscript2 {
    font-family: "Times New Roman", "serif";
    font-size: 0.48387em;
    line-height: 1.3;
    vertical-align: super
    }
.fm-superscript3 {
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    line-height: 1.3;
    vertical-align: super
    }
.fm-table-body {
    color: black;
    display: block;
    font-family: "Franklin Gothic Medium", "sans-serif";
    font-size: 0.83333em;
    line-height: 1.4;
    margin: 0 30px 0 0
    }
.fm-table-caption {
    color: #141464;
    display: block;
    font-family: "Franklin Gothic Medium", "sans-serif";
    font-size: 1em;
    font-weight: bold;
    line-height: 1.4;
    page-break-after: avoid;
    text-align: justify;
    margin: 1.2em 0 0.6em
    }
.fm-table-head {
    color: #005;
    display: block;
    font-family: "Franklin Gothic Medium", "sans-serif";
    font-size: 1em;
    font-weight: bold;
    line-height: 1.4;
    page-break-after: avoid;
    margin: 0.2em 0
    }
.footnotenumber {
    color: #005;
    font-family: "Franklin Gothic Medium", "sans-serif";
    font-weight: bold;
    vertical-align: super
    }
.grouptitlesix {
    color: #262626;
    display: block;
    font-family: "Franklin Gothic Medium", "sans-serif";
    font-size: 0.83333em;
    font-weight: Bold;
    text-align: left;
    text-indent: 0;
    margin: 0.9em 0 0
    }
.level1ix {
    color: #000;
    display: block;
    font-family: "Franklin Gothic Medium", "sans-serif";
    font-size: 0.83333em;
    font-weight: normal;
    text-align: left;
    text-indent: -1.8em;
    margin: 0 0 0 1.8em
    }
.level2ix {
    color: #000;
    display: block;
    font-family: "Franklin Gothic Medium", "sans-serif";
    font-size: 0.83333em;
    font-weight: normal;
    text-align: left;
    text-indent: -0.9em;
    margin: 0 0 0 1.8em
    }
.level3ix {
    color: #000;
    display: block;
    font-family: "Franklin Gothic Medium", "sans-serif";
    font-size: 0.83333em;
    font-weight: normal;
    text-align: left;
    text-indent: -1.8em;
    margin: 0 0 0 3em
    }
.list {
    display: block;
    font-family: "Verdana", "sans-serif", "sans-serif";
    font-size: 1em;
    line-height: 1.4;
    margin: 5px 60px 5px 0
    }
.list-s {
    display: block;
    page-break-inside: avoid;
    margin: 5px 60px 5px 0
    }
.programlisting {
    background-color: #F2F2F2;
    display: block;
    font-family: monospace;
    font-size: 0.83333em;
    line-height: 1.4;
    text-indent: 0;
    white-space: pre-wrap;
    z-index: 1;
    padding: 10px 5px;
    margin: 1em 0
    }
.segoe {
    font-family: "Segoe UI Symbol", "sans-serif"
    }
.tablebodyc {
    color: black;
    display: block;
    font-family: "Verdana", "sans-serif";
    font-size: 0.83333em;
    line-height: 1.4;
    text-align: center;
    margin: 0
    }
.tablebodyc1 {
    color: black;
    display: block;
    font-family: "Verdana", "sans-serif";
    font-size: 0.83333em;
    line-height: 1.4;
    margin: 0
    }
.tablebodyc2 {
    color: black;
    display: block;
    font-family: "Verdana", "sans-serif";
    font-size: 0.83333em;
    line-height: 1.4;
    text-align: right;
    margin: 0
    }
.tocchapters {
    color: #005;
    display: block;
    font-family: "NACNO F+ A Garamond", "serif";
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
    line-height: 1.4;
    text-indent: -1.6em;
    margin: 0.3em 0 0 2.4em
    }
.tochead {
    color: #005;
    display: block;
    font-family: "Franklin Gothic Medium", "sans-serif";
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.4;
    page-break-after: avoid;
    margin: 1.2em 0 0.3em
    }
.tocheadb {
    display: block;
    line-height: 1.4;
    border-top: currentColor none medium;
    border-right: currentColor none medium;
    border-bottom: #005 solid 0.1em;
    border-left: currentColor none medium;
    padding: 0 0 0.1em
    }
.tocparts {
    color: #647B9C;
    display: block;
    font-family: "NACNM D+ New Baskerville", "serif";
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.3;
    page-break-after: avoid;
    margin: 0.4em 0 0
    }
